/* Signin.css */

.signpage {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/530fc327-2ddb-4038-a3f0-2da2d9ccede1/9c547c8a-e707-4bdb-bdbc-843f134dd2a6/IN-en-20230619-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
}

.headera {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.logo {
  max-width: 150px;
}

.nava__logo {
  width: 100%;
}

.form {
  width: 350px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.title {
  margin-bottom: 20px;
  text-align: center;
}

.title h3 {
  color: #fff;
  font-size: 24px;
}

.form_components {
  display: flex;
  flex-direction: column;
}

input {
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 3px;
  background-color: #333;
  border: none;
  color: #fff;
  font-size: 16px;
}

.buttons {
  padding: 16px;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  background-color: #e50914;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.buttons:hover {
  background-color: #e50914;
  opacity: 0.85;
}

.error-message {
  color: #e50914;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}
